.btnGroup {
  display: flex;
  place-content: center;
  margin-top: 5px;
}

.canvas{
  display: flex;
  place-content: center;
  border: 1px solid black;
}

.checkboxes {
  display: flex;
  place-content: center;
  margin-bottom: 8px;
}

.checkboxWrapper {
  text-align: center;
  width: 50px;
  border: 1px solid black;
}

.buttonDownload {
  padding: 10px;
  width: 80px;
  margin-right: 10px;
  color: white;
  background-color: rgb(5, 126, 245);
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: rgb(139, 194, 246);
  }
}

.buttonReset {
  padding: 10px;
  width: 80px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(201, 72, 72);

  &:hover {
    background-color: rgb(222, 121, 121);
  }
}

.buttonUndo {
  padding: 10px;
  width: 80px;
  color: white;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background-color: rgb(50, 50, 50);

  &:hover {
    background-color: rgb(67, 72, 73);
  }
}
